


div#preload { display: none; }

html, body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #473070;
}

@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 10px;
    }
}


#full {
    height: 100%;
    width: 100%;
}
#statsArea{

    font-size: 2em;
    font-weight:bold;
    color:#FFFFFF;
    float: left;
    width:100%;
    background-color: #473070;
}

#gameArea{
    height: 100%;
    width: 100%;
    text-align: center;

}

#gameCanvas {
    background-color: #FFFFFF;
    margin-left: auto ;
    margin-right: auto ;

}

#scoreboard {
    width: 90%;
    margin: 0 auto;
}

div#score1 {
    width: 50%;
    float: left;
    text-align: center;
}
div#score2 {
    margin-left: 50%;
    text-align: center;
}

#fullScreenToggle {
    margin-top: 5px;
    float: right;

}


@media all and (max-width: 700px) {
    #fullScreenToggle {
       display:none;
    }
}

/* ipad exclusion */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    #fullScreenToggle {
        display:none;
    }

}


